.App {
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.homeBg {
    background: url("../assets/home/background-home-mobile.jpg") no-repeat;
    background-size: cover;
}

.destinationBg {
    background: url("../assets/destination/background-destination-mobile.jpg") no-repeat;
    background-size: cover;
}

.crewBg {
    background: url("../assets/crew/background-crew-mobile.jpg") no-repeat;
    background-size: cover;
}

.techBg {
    background: url("../assets/technology/background-technology-mobile.jpg") no-repeat;
    background-size: cover;
}

.navbar {
    /* width: 100vw; */
    height: 5rem;
    /* padding: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logoContainer {
    margin-left: 2rem;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: url("../assets/shared/logo.svg") no-repeat;
    background-position: center;
}

.navSeparator {
    display: none;
}

.nav-menu {
    width: 60%;
    padding-top: 5rem;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--opaque_white);
    backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(5rem);
}

.open {
    right: 0;
}

.nav-Item {
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 1rem;
    list-style: none;
    position: relative;
}

.nav-link {
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: start;
    color: var(--white);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    transition: 10ms all ease-in;
    transition: 10ms all ease-in-out;
    -webkit-transition: 10ms all ease-in-out;
    -o-transition: 10ms all ease-in-out;
}

.nav-link.active {
    border-right: 2px solid var(--white);
}

.nav-link:hover {
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.nav-linkSpan {
    margin-right: 0.4rem;
}

.bar {
    background-color: var(--white);
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 2rem;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


/* HOME SECTION =====================================*/

.homeSection {
    /* width: 100%; */
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeSection1 {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-subHeading {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home-heading {
    padding: 1.5rem 0;
    font-family: 'Bellefair', sans-serif;
    font-size: 5rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.homeText {
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.5;
}

.homeSection2 {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeLinkWrapper {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 10ms all ease-in;
    transition: 10ms all ease-in-out;
    -webkit-transition: 10ms all ease-in-out;
    -o-transition: 10ms all ease-in-out;
}

.homeLinkWrapper:hover {
    background-color: var(--hover_white);
}

.homeLink {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
    font-family: 'Bellefair', sans-serif;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .destinationBg {
        background: url("../assets/destination//background-destination-tablet.jpg") no-repeat;
        background-size: cover;
    }
    .crewBg {
        background: url("../assets/crew/background-crew-tablet.jpg") no-repeat;
        background-size: cover;
    }
    .techBg {
        background: url("../assets/technology/background-technology-tablet.jpg") no-repeat;
        background-size: cover;
    }
    .logo {
        width: 3rem;
        height: 3rem;
    }
    .nav-menu {
        position: relative;
        right: 0;
        width: 30rem;
        height: 100%;
        padding: 0rem 2rem;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-Item {
        width: auto;
        height: 100%;
        padding-left: 0rem;
        padding-bottom: 0rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .nav-link {
        width: auto;
        text-align: center;
        border: none;
    }
    .nav-linkSpan {
        display: none;
    }
    .nav-link::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--white);
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: 10ms all ease-in;
        transition: 10ms all ease-in-out;
        -webkit-transition: 10ms all ease-in-out;
        -o-transition: 10ms all ease-in-out;
    }
    .nav-link.active {
        border: none;
    }
    .nav-link:hover {
        border: none;
    }
    .nav-link:hover:before {
        opacity: 0.5;
    }
    .nav-link.active::before {
        opacity: 1;
    }
    .hamburger {
        display: none;
    }
    .homeBg {
        background: url("../assets/home/background-home-tablet.jpg") no-repeat;
        background-size: cover;
    }
    /* HOME SECTION =====================================*/
    .homeSection1 {
        padding: 4rem 6rem;
    }
    .home-heading {
        padding: 0;
        font-size: 9.375rem;
    }
    .homeText {
        width: 80%;
        font-size: 1rem;
    }
    .homeSection2 {
        padding-top: 8.5rem;
    }
    .homeLinkWrapper {
        width: 16rem;
        height: 16rem;
    }
    .homeLink {
        width: 13rem;
        height: 13rem;
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .homeBg {
        background: url("../assets/home/background-home-desktop.jpg") no-repeat;
        background-size: cover;
    }
    .destinationBg {
        background: url("../assets/destination/background-destination-desktop.jpg") no-repeat;
        background-size: cover;
    }
    .crewBg {
        background: url("../assets/crew/background-crew-desktop.jpg") no-repeat;
        background-size: cover;
    }
    .techBg {
        background: url("../assets/technology/background-technology-desktop.jpg") no-repeat;
        background-size: cover;
    }
    .navbar {
        padding-top: 1rem;
    }
    .navSeparator {
        position: relative;
        width: 27rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        z-index: 1;
    }
    .nav-menu {
        padding: 0 6rem;
        width: 45rem;
    }
    .nav-linkSpan {
        display: inline-flex;
    }
    .line {
        position: absolute;
        right: -3rem;
        width: 25rem;
        height: 0.7px;
        background-color: var(--gray);
    }
    /* HOME SECTION =====================================*/
    .homeSection {
        width: 100%;
        padding: 4rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .homeSection1 {
        padding: 0rem 0rem 0rem 4rem;
        width: 60%;
        align-items: flex-start;
    }
    .homeSection2 {
        padding-top: 6rem;
        width: 30%;
        height: 100%;
    }
    .home-heading {
        text-align: left;
    }
    .homeText {
        text-align: left;
        width: 29rem;
    }
}

@media (min-width: 1440px) {
    .line {
        right: -8rem;
        width: 30rem;
        z-index: 2;
    }
}