:root {
    --black: #0B0D17;
    --white: #FFFFFF;
    --hover_white: rgba(255, 255, 255, 0.5);
    /* --opaque_white: rgba(255, 255, 255, 0.1); */
    --opaque_white: rgba(255, 255, 255, 0.04);
    --gray: rgba(128, 128, 128, 0.858);
    --grey: #D0D6F9;
}

@font-face {
    font-family: 'Barlow';
    src: url("../src/assets/Font/Barlow-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url("../src/assets/Font/BarlowCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bellefair';
    src: url("../src/assets/Font/Bellefair-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--grey);
    background-color: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

h1,
h2,
h3 {
    font-family: 'Barlow Condensed', sans-serif;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    p {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    p {
        font-size: 1.125rem;
    }
}